.dialogue-box {
  width: 60%;
  height: 30vh;
  /* Fundo semi-transparente */
  position: absolute;
  bottom: 0px;
  left: auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background: url('../../assets/StoryPage/DialogueBox.png');
  background-size: cover;

  font-size: 18px;
  color: white;

  border: 0px solid red;
}

.title {
  border: 0px solid blue;
  position: relative;
  top: 14%;

  font-size: 2vw;

  text-align: center;
}

.description {
  border: 0px solid blue;
  position: relative;
  top: 24%;

  font-size: 1.5vw;
  
  padding-left: 40px;
  padding-right: 40px;

  text-align: center;
}