.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.character {
  position: absolute;
  bottom: 0px;
  left: 10%;
}

.characterImg {
  /* Ajuste o tamanho da imagem conforme necessário */
  height: 500px;
}
